<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

		<title>DEI</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="../Documents/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
		<style>
			div.row{
				min-height: 10rem !important;
			}
			.perfil{
				max-width: 10rem;
			}
			#menuCollapsable{
				text-align: right !important;
			}
			.footer{
				font-size: 0.9rem;
			}
			.titulos{
				font-size: 2.5rem;
				text-align: center;
			}
			.textoMediano{
				font-size: 1.3rem;
			}
			.azul{
				background-color: #3B3F76;
				color: white;
			}

		</style>

		<script src="../Documents/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../Documents/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../Documents/node_modules/popper.js/dist/umd/popper.min.js"></script>
		<script src="https://kit.fontawesome.com/de53577b67.js"></script>
	</head>
	<body>

		<div class="container-fluid">
			<nav class="navbar navbar-dark bg-dark">
				<a href="./index.php"><span class="navbar-brand mb-0 h1">DEI</span></a>

				<button class="btn btn-outline-light my-2 my-sm-0" type="button" data-toggle="modal" data-target="#loginModal">Iniciar Sesión</button>
			</nav>

			<div class="titulos pt-4 pb-2">Créditos</div>
			<hr/>
			<div class="row align-items-center justify-content-center Cesar my-4">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-right">
					<p class="textoMediano">Ángeles Valencia César Iván</p>
					<p>Ing. Civil</p>
					<p>UNAM</p>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<img class="img-fluid perfil" src="../Resources/cesar.jpg"/>
				</div>
			</div>

			<div class="row align-items-center justify-content-center Ramon my-4">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-right">
					<p class="textoMediano">Avalos Gutiérrez Juan Ramón</p>
					<p>Ing. Mecatrónico</p>
					<p>UNAM</p>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<img class="img-fluid perfil" src="../Resources/ramon.jpg"/>
				</div>
			</div>

			<div class="row align-items-center justify-content-center Rogelio my-4">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-right">
					<p class="textoMediano">Cabrera Murguía Rogelio</p>
					<p>Ing. Mecatrónico</p>
					<p>UNAM</p>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<img class="img-fluid perfil" src="../Resources/roy.jpg"/>
				</div>
			</div>

			<div class="row align-items-center justify-content-center Sebastian my-4">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-right">
					<p class="textoMediano">Negrete Torres Sebastián</p>
					<p>Ing. Eléctrico Electrónico</p>
					<p>UNAM</p>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<img class="img-fluid perfil" src="../Resources/sebas.jpg"/>
				</div>
			</div>

			<div class="row align-items-center justify-content-center Fernanda my-4">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-right">
					<p class="textoMediano">Salvador Espinosa María Fernanda</p>
					<p>Ing. Industrial</p>
					<p>UNAM</p>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<img class="img-fluid perfil" src="../Resources/fer.jpg"/>
				</div>
			</div>

			<div class="row azul footer text-center justify-content-md-center px-xl-5 px-lg-5 py-4">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 px-5">
					<span id="copyright">Copyright © DEI: Domótica, Estructura e Inteligencia artificial</span>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 px-5 py-sm-2">
					<span class="telefono"><i class="fas fa-mobile-alt"></i> Tel: 55-29-16-85-03</span>
				</div>
				<div class="col-xl-7 col-lg-7 col-md-10 col-sm-12 px-5 py-3">
					<span class="telefono">Hecho en México, Universidad Nacional Autónoma de México. Todos los derechos reservados. Esta página fue desarrollada por miembros del Programa de Alto Rendimiento Académico (PARA) de la Facultad de ingeniería.</span>
				</div>
			</div>

		</div>

		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="text-center">Ingresar</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
					</div>
					<div class="modal-body">

						<div class="form-group">
							<label for="userName">Nombre de Usuario</label>
							<input type="text" class="form-control" id="userName" placeholder="Nombre de Usuario"/>
						</div>

						<div class="form-group">
							<label for="password">Contraseña</label>
							<input type="password" class="form-control" id="password" placeholder="contraseña"/>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        		<button id="loginSend" type="button" class="btn btn-primary">Entrar</button>
					</div>

				</div>
			</div>
		</div>

		<script>
			$('#loginSend').click(function(){
				$.ajax({
					url: "./login.php",
					data:{
						usuario: $('#userName').val(),
						contra: $('#password').val()
					},
					type: "POST",
					dataType: "Text",
					success: function(data){
						if(data=='correcto'){
							alert("Bienvenido "+$('#userName').val());
							$(location).attr('href','./main.php');
						}
						else{
							alert('Ingrese bien los valores');
						}
					}
				});
			});
		</script>
	</body>
</html>
